{% extends 'blog_page.html' %}

{% block title %}
  Le Blog de {{ user_profile.username }}
{% endblock %}

{% block body %}
  <div>
    <div>
      <h1>Le blog de {{ user_profile.username }}</h1>
      <h4>Email : {{ user_profile.email }}</h4>
      <h4>Prenom : {{ user_profile.first_name }}</h4>
      <h4>Nom : {{ user_profile.last_name }}</h4>
      <h4>Nombre d'articles : {{ posts|length }}</h4>
    </div>
    <div>
    {% for post in posts %}
        <div>
            <h3>{{post.title}}</h3>
            <blockquote>
              Publié le {{post.created_at}}
               {% if request.user == post.author %}
                | <a href="{% url 'post_edit' post.author post.slug %}">Modifier</a>
                | <a href="{% url 'post_delete' post.author post.slug %}">Supprimer</a>
              {% endif %}
            </blockquote>
            <p>{{post.content|slice:":200" }}</p>
            <a href="{% url 'post_detail' post.author post.slug%}">Continuer la lecture</a>
        </div>

    {% empty %}
        <p>Vous n'avez encore aucun article</p>
    {% endfor %}
    </div>
  </div>
{% endblock %}
