{% extends 'base.html' %}

{% block title %}
  S'inscrire
{% endblock %}

{% block content %}

  <form method="post" class="flex flex-col w-full items-center p-8">
    {% csrf_token %}
    <h1 class="text-3xl m-10">Inscription</h1>

    <div class="flex flex-col w-full md:w-[500px] my-2">
      <label for="username">Nom d'utilisateur:</label>
      <input type="text" name="username" id="username" class="rounded-lg" />
    </div>
    
    <div class="flex flex-col w-full md:w-[500px] my-2">
      <label for="password1">Entrez un mot de passse:</label>
      <input type="password" name="password1" id="password1" class="rounded-lg" />
    </div>

    <div class="flex flex-col w-full md:w-[500px] my-2">
      <label for="password2">Confirmez le mot de passe:</label>
      <input type="password" name="password2" id="password2" class="rounded-lg" />
    </div>

    <button type="submit" class="bg-blue-500 text-white rounded-lg p-2 w-40 mt-10">
      S'inscrire
    </button>
    
    <p class="mt-10">J'ai deja un compte. <a href="{% url 'login' %}" class="text-blue-700">Se Connecter</a></p>
  </form>

{% endblock %}
