{% extends "blog_page.html" %}

{% block title %} Accueil{% endblock %}

{% block body %}
    <div>
    {% for post in post_list %}
        <div>
            <h3>{{post.title}}</h3>
            <blockquote>Publié par <a href="{% url 'other_profile' post.author %}">{{ post.author }}</a> le {{post.created_at}}</blockquote>
            <p>{{post.content|slice:":200" }}</p>
            <a href="{% url 'post_detail' post.author post.slug%}">Continuer la lecture</a>
        </div>

    {% empty %}
        <p>Il n'y a aucun article</p>
    {% endfor %}
    </div>
{% endblock %}