{% extends "base.html" %}

{% block title %} Accueil{% endblock %}

{% block content %}
    {% if user.is_authenticated %} Salut {{ user.username }} :)
        <p>
            <a href="{% url 'logout' %}">Déconnexion</a>
        </p>
    {% else %}
        <p>Vous n'êtes pas connecté</p>
    <a href="{% url 'login' %}">Se connecter</a> |
        <a href="{% url 'signup' %}">Créer un compte</a>
    {% endif %}

    <div>
    {% for post in post_list %}
        <div>
            <h3>{{post.title}}</h3>
            <blockquote>Publié par {{post.author}} le {{post.created_at}}</blockquote>
            <p>{{post.content|slice:":200" }}</p>
            <a href="{% url 'post_detail' post.slug%}">Continuer la lecture</a>
        </div>

    {% empty %}
        <p>Il n'y a aucun article</p>
    {% endfor %}
    </div>
{% endblock %}